.header {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0rem 1rem 36px 1rem;
}

.header > h1 {
  font-weight: 800;
  font-size: calc(1rem + 0.5vw);
}