.leaderboard-info-container > * + *  {
  margin-top: 1rem;
}

.leaderboard-info-container h3 {
  font-weight: 800;
}

.leaderboard-info-container > h3 {
  text-align: center;
}

.leaderboard-info-container {
  padding: 0.5rem;
  overflow-y: scroll;
  
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #DDDEDF;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0px 16px 20px -24px rgba(75, 78, 83, 0.4);
}

.card-container > * + * {
  margin-top: 1rem;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.title h3 {
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
}

