.container {
  display: flex;
  flex-direction: column;
  /* According to figma */
  border-radius: 32px; 
  background-color: white;
  border: 1px solid #EEEEEE;
  padding: 1.5rem 1rem;
  position: relative;
  margin: 0rem 0.7rem;
}


.robot {
  position: absolute;
  top: calc(0% - 65px);
  right: 5%;
}
